* {
  margin: 0;
  padding: 0; }

body {
  font-size: 10px;
  background-color: rgba(194, 59, 34, 0.05); }

@keyframes moveInLeft {
  0% {
    transform: translateX(-50rem); }
  100% {
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    transform: translateX(50rem); }
  100% {
    transform: translateX(0); } }

.heading-primary {
  color: rgba(88, 0, 0, 0.7);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1;
  padding: 1rem; }

.heading-secondary {
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  padding: 1rem; }

.description {
  color: rgba(88, 0, 0, 0.7);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  padding: 1rem; }
  .description:not(:last-child) {
    margin-bottom: 1rem; }

.navbar {
  position: relative;
  animation: moveInLeft 1s ease; }
  .navbar__logo-box {
    position: absolute;
    left: 0.5rem;
    top: -1rem; }
  .navbar__logo {
    height: 3rem; }
  .navbar__title {
    font-size: 1.5rem;
    text-align: left;
    color: wheat;
    position: absolute;
    left: 4rem;
    top: -0.3rem; }
  .navbar__vertical-line {
    background-color: #c23b22;
    width: 2px;
    height: 2.5rem;
    position: absolute;
    left: 10rem;
    top: -0.7rem; }
  .navbar__button {
    color: white;
    text-decoration: none;
    padding: 0.4rem;
    background-color: #8a0000;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    transition: all 0.2s; }
    .navbar__button:hover {
      background-color: #c23b22;
      transform: translateY(-2px); }
    .navbar__button:active {
      transform: translateY(-1px); }
    .navbar__button--primary {
      position: absolute;
      top: -0.5rem;
      left: 70%; }
    .navbar__button--secondary {
      position: absolute;
      top: -0.5rem;
      left: 80%; }
    @media (min-width: 400px) {
      .navbar__button--primary {
        left: 60%; }
      .navbar__button--secondary {
        left: 80%; } }
    @media (min-width: 900px) {
      .navbar__button--primary {
        left: 80%; }
      .navbar__button--secondary {
        left: 90%; } }

.flash-card {
  height: 80vh;
  background-image: linear-gradient(to top, #580000, #c23b22);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(138, 0, 0, 0.5);
  position: relative; }
  .flash-card__img {
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    width: 100%; }
  .flash-card__header--primary {
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: #8a0000;
    position: absolute;
    top: 10%;
    animation: moveInLeft 1s; }
  .flash-card__header--secondary {
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: #8a0000;
    position: absolute;
    top: 17%;
    animation: moveInLeft 1.2s; }
  .flash-card__desc {
    margin: -1rem 2rem 2rem 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff; }

.btn {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  display: inline-block;
  transition: all 0.2s; }
  .btn:hover {
    transform: translateY(-2px); }
  .btn:active {
    transform: translateY(-1px); }
  .btn--fb {
    animation: moveInLeft 1.6s;
    background-color: #4267b2; }
    .btn--fb:hover {
      background-color: #6283c5; }
  .btn--gh {
    animation: moveInLeft 1.8s;
    background-color: #1d2129; }
    .btn--gh:hover {
      background-color: #323947; }
  .btn--tw {
    animation: moveInLeft 2s;
    background-color: #1da1f2; }
    .btn--tw:hover {
      background-color: #4db5f5; }

.content {
  position: relative; }
  .content__cover {
    width: 100%;
    height: 17rem;
    background-image: linear-gradient(to right bottom, rgba(88, 0, 0, 0.6), rgba(194, 59, 34, 0.6)), url(../img/bg.jpg);
    background-size: cover;
    background-blend-mode: screen;
    animation: moveInRight 1s ease; }
  .content__profile {
    background-image: url(../img/mypic.jpg);
    background-size: cover;
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: 10rem;
    left: 10%;
    border-radius: 10rem;
    border: 1rem solid rgba(0, 0, 0, 0.7); }
    .content__profile:hover {
      background-image: linear-gradient(to right bottom, rgba(88, 0, 0, 0.4), rgba(194, 59, 34, 0.4)), url(../img/mypic.jpg); }
  .content__article {
    position: relative;
    animation: moveInRight 2s ease; }
    .content__article--title {
      position: absolute;
      top: 10rem; }
    .content__article--description {
      position: absolute;
      top: 15rem; }

.row {
  max-width: 90%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc( (100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *2rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 *2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *2rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 *2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 *2rem) / 4) + 2 *2rem); }

.section-navbar {
  width: 100%;
  height: 1rem;
  background-image: linear-gradient(to right, #580000, #c23b22);
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(138, 0, 0, 0.2);
  font-size: 1.6rem;
  margin-bottom: 2rem; }

.section-portfolio {
  margin: 1rem;
  padding: 1%; }
