.flash-card {
  height: 35rem;
  background-image: linear-gradient(
    to top,
    $color-primary-dark,
    $color-primary-light
  );
  border-radius: 5px;
  overflow: hidden;

  box-shadow: 0 0.2rem 2rem rgba($color-primary, 0.5);

  position: relative;

  animation: subtleMove 10s;
  animation-iteration-count: infinite;

  &__img {
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    max-width: 100%;
    max-height: 20rem;
  }

  &__header {
    &--primary {
      padding: 0.3rem;
      border-radius: 0.3rem;
      background-color: $color-primary;
      position: absolute;
      top: 4rem;

      animation: moveInLeft 1s;
    }

    &--secondary {
      padding: 0.3rem;
      border-radius: 0.3rem;
      background-color: $color-primary;
      position: absolute;
      top: 6.2rem;

      animation: moveInLeft 1.2s;
    }
  }

  &__desc {
    margin: -1rem 2rem 2rem 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: rgba($color-flash-desc, 0.8);
    background-color: $bg-color-flash-desc;
  }
}
