.App {
  text-align: center;
}

.Art {
  margin-left: 5rem;
  margin-right: 1rem;
}

:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

@media (min-width: 700px) {
  .Art {
    margin-left: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
