.u-color-black {
  color: $color-black;
}

.u-color-primary {
  color: $color-primary;
}

.u-margin-bottom-large {
  margin-bottom: 2rem;
}

.u-text-align-center {
  text-align: center;
  list-style: none;
}
